# Copyright 2018 Ron Triepels
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Import Packages
importFrom(R6, R6Class)

# Load C files
useDynLib(cgraph)

# Export session functions
export(const)
export(input)
export(parm)
export(opr)
export(val)
export(set)
export(run)
export(gradients)

# Export array operators
export(cg_matmul)
export(cg_crossprod)
export(cg_tcrossprod)
export(cg_linear)
export(cg_sum)
export(cg_prod)
export(cg_rowSums)
export(cg_colSums)
export(cg_mean)
export(cg_rowMeans)
export(cg_colMeans)
export(cg_max)
export(cg_min)
export(cg_pmax)
export(cg_pmin)

# Export cgraph object
export(cgraph)

# Export cgraph methods
S3method(plot, cgraph)

# Export logical operators
export(cg_not)
export(cg_equal)
export(cg_not_equal)
export(cg_less)
export(cg_greater)
export(cg_less_equal)
export(cg_greater_equal)

# Export logical methods
S3method(`!`, cg_node)
S3method(`==`, cg_node)
S3method(`!=`, cg_node)
S3method(`<`, cg_node)
S3method(`>`, cg_node)
S3method(`<=`, cg_node)
S3method(`>=`, cg_node)

# Export math operators
export(cg_add)
export(cg_pos)
export(cg_sub)
export(cg_neg)
export(cg_mul)
export(cg_div)
export(cg_pow)
export(cg_sqrt)
export(cg_exp)
export(cg_ln)
export(cg_log2)
export(cg_log10)
export(cg_abs)

# Export math methods
S3method(`+`, cg.node)
S3method(`-`, cg.node)
S3method(`*`, cg.node)
S3method(`/`, cg.node)
S3method(`^`, cg.node)

# Export misc functions
export(sigmoid)

# Export misc operators
export(cg.sigmoid)

# Export print methods
S3method(print, cgraph)
S3method(print, cg_node)

# Export transform operators
export(cg.as.double)
export(cg.as.numeric)
export(cg.reshape)
export(cg.t)

# Export trig operators
export(cg.sin)
export(cg.cos)
export(cg.tan)
export(cg.sinh)
export(cg.cosh)
export(cg.tanh)
export(cg.asin)
export(cg.acos)
export(cg.atan)
export(cg.asinh)
export(cg.acosh)
export(cg.atanh)
